<!DOCTYPE html>
<html>

<head>
<!-- Import non-minified Bootstrap files for debugging -->
<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
<!-- <script type="text/javascript" src="js/saveMemory.js"></script> -->

<script type="text/javascript">
	var savePoll = function(poll) {
		poll = $(poll);
		var data = {};
		data.question = $("#pollTitleText").val();
		data.firstResponse = $("#pollFirstResponseText").val();
		data.secondResponse = $("#pollSecondResponseText").val();
		data.timestamp = new Date();
		$.post('ajax/savepoll', data, function(res) {
			if (res.err) console.log(res);
			else {
				alert("Poll Saved!");
			}
		});

	};
</script>

<title>Memories</title>

</head>

<body>


<div class="input-group">
	<label id="pollTitleLabel">Enter Poll Title:</label>
	<input class="form-control" rows="3" id="pollTitleText" placeholder="[Enter Poll Title Here]" aria-describedby="pollTitleLabel"></input>
</div>

<div class="input-group">
	<label id="pollFirstResponseLabel">Enter First Response:</label>
	<input class="form-control" rows="3" id="pollFirstResponseText" placeholder="[Enter First Response Here]" aria-describedby="pollFirstResponseLabel"></input>
</div>
<div class="input-group">
	<label id="pollSecondResponseLabel">Enter Second Response:</label>
	<input class="form-control" rows="3" id="pollSecondResponseText" placeholder="[Enter Second Response Here]" aria-describedby="pollSecondResponseLabel"></input>
</div>

<br>
<button class="btn btn-default" onclick="savePoll(this)">Create Poll</button>

<br>
<br>
<div id="pollList">
<% if (PollQuestions) {
	for (i = 0; i < PollQuestions.length; i++) { %>
		<p><%= PollQuestions[i] %></p>
	<% } %>
<% } %>
</div>

</body>

<script src="js/jquery-1.11.2.js"></script>
<script src="js/bootstrap.js"></script>

</html>