<!DOCTYPE html>
<html>

<head>
<!-- Import non-minified Bootstrap files for debugging -->
<link rel="stylesheet" href="css/bootstrap.css" type="text/css">

<script type="text/javascript">
</script>

<title>Poll</title>

</head>

<body>

<%= Polls %>

</body>

<script src="js/jquery-1.11.2.js"></script>
<script src="js/bootstrap.js"></script>

</html>