<!DOCTYPE html>
<html>

<head>
<!-- Import non-minified Bootstrap files for debugging -->
<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="css/bootstrap-theme.css" type="text/css">

<script type="text/javascript">
</script>

<title>Poll</title>

</head>

<body>

<% for (i in Polls) { %>

	<h1><%= Polls[i].question %></h1>
	<button type="button" class="btn btn-default" arial-label="Left Align"><h2><%= Polls[i].firstResponse %></h2></button><br>
	<button type="button" class="btn btn-default" arial-label="Left Align"><h2><%= Polls[i].secondResponse %></h2></button>
	<h3><%= Polls[i].timestamp %></h3>

<% } %>

</body>

<script src="js/jquery-1.11.2.js"></script>
<script src="js/bootstrap.js"></script>

</html>