<!DOCTYPE html>
<html>

<head>
<!-- Import non-minified Bootstrap files for debugging -->
<link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="/css/bootstrap-theme.css" type="text/css">

<script type="text/javascript">
</script>

<title>Poll</title>

</head>

<body>

<h1>Voting for this: <%= Response %></h1>

<h1>On this Poll: <%= Poll %></h1>

<div class="input-group">
  <span class="input-group-addon">¢</span>
  <input type="text" class="form-control" aria-label="Charitable Donation">
  <span class="input-group-btn">
        <button class="btn btn-default" type="button">Donate and Vote!</button>
  </span>
</div>


</body>

<script src="js/jquery-1.11.2.js"></script>
<script src="js/bootstrap.js"></script>

</html>